In [16]:
import pandas as pd
SP2023_FilePath= '../data/raw/SP2023.csv'
SP2023_Data = pd.read_csv(SP2023_FilePath, parse_dates=['Date'])
SP2023_Data.describe()
SP2023_Data.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,SP1,11/08/2023,18:30,Almeria,Vallecano,0,2,A,0,2,...,1.64,0.00,1.85,2.08,1.86,2.07,1.91,2.09,1.86,2.01
1,SP1,11/08/2023,21:00,Sevilla,Valencia,1,2,A,0,0,...,1.61,-0.50,1.94,1.99,1.94,1.98,1.96,2.00,1.93,1.94
2,SP1,12/08/2023,16:00,Sociedad,Girona,1,1,D,1,0,...,1.72,-0.75,2.05,1.75,2.10,1.82,2.14,1.90,2.04,1.82
3,SP1,12/08/2023,18:30,Las Palmas,Mallorca,1,1,D,1,0,...,1.40,-0.25,2.18,1.77,2.20,1.77,2.21,1.79,2.15,1.75
4,SP1,12/08/2023,20:30,Ath Bilbao,Real Madrid,0,2,A,0,2,...,1.89,0.25,1.99,1.94,1.99,1.93,2.10,1.96,1.95,1.90

In [17]:
SP2024_FilePath= '../data/raw/SP2024.csv'
SP2024_Data = pd.read_csv(SP2024_FilePath,parse_dates=['Date'],dayfirst=True)
SP2024_Data.describe()
SP2024_Data.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,SP1,2024-08-15,18:00,Ath Bilbao,Getafe,1,1,D,1,0,...,2.08,1.73,2.17,1.76,2.19,1.82,2.12,1.77,2.19,1.82
1,SP1,2024-08-15,20:30,Betis,Girona,1,1,D,1,0,...,2.01,1.89,2.03,1.89,2.10,1.94,2.01,1.85,2.08,1.90
2,SP1,2024-08-16,18:00,Celta,Alaves,2,1,H,0,1,...,1.82,2.11,1.83,2.10,1.84,2.12,1.79,2.08,1.85,2.14
3,SP1,2024-08-16,20:30,Las Palmas,Sevilla,2,2,D,1,1,...,1.86,2.07,1.87,2.07,1.89,2.11,1.86,2.03,1.90,2.09
4,SP1,2024-08-17,18:00,Osasuna,Leganes,1,1,D,0,1,...,1.88,2.05,1.88,2.04,1.91,2.06,1.87,2.00,1.94,2.05

In [18]:
SP1_FilePath= '../data/raw/SP1.csv'
SP1_Data = pd.read_csv(SP1_FilePath,parse_dates=['Date'],dayfirst=True)
SP1_Data.describe()
SP1_Data.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,SP1,2025-08-15,18:00,Girona,Vallecano,1,3,A,0,3,...,2.1,1.78,1.97,1.95,2.10,1.80,1.95,1.75,2.11,1.89
1,SP1,2025-08-15,20:30,Villarreal,Oviedo,2,0,H,2,0,...,1.9,1.95,1.93,2.00,1.94,1.96,1.82,1.87,1.96,2.02
2,SP1,2025-08-16,18:30,Mallorca,Barcelona,0,3,A,0,2,...,2.0,1.85,1.88,2.05,2.00,1.93,1.90,1.86,2.04,1.94
3,SP1,2025-08-16,20:30,Alaves,Levante,2,1,H,1,0,...,1.8,2.05,1.86,2.07,1.80,2.07,1.70,2.00,1.81,2.20
4,SP1,2025-08-16,20:30,Valencia,Sociedad,1,1,D,0,0,...,2.1,1.78,2.13,1.81,2.10,1.78,1.96,1.74,2.18,1.84

In [19]:
SP2023_Data.isna().sum()
SP2023_Data_clean = SP2023_Data.drop(columns=[
    'BWH','BWD','BWA','IWH','IWD','IWA','P>2.5','P<2.5','IWCH','IWCD','IWCA'
])

In [20]:
SP2024_Data.isna().sum()
SP2024_Data_clean = SP2024_Data.drop(columns=[
    'BWH','BWD','BWA', 'WHH','WHD','WHA','1XBH','1XBD','1XBA','P>2.5','P<2.5','BFE>2.5','BFE<2.5',
    'PAHH','PAHA','BWCH','BWCD','BWCA','WHCH','WHCD','WHCA','PC>2.5','PC<2.5'
])

In [9]:
SP1_Data.isna().sum()

Div         0
Date        0
Time        0
HomeTeam    0
AwayTeam    0
           ..
MaxCAHA     0
AvgCAHH     0
AvgCAHA     0
BFECAHH     0
BFECAHA     0
Length: 131, dtype: int64

In [21]:
SP2023_Data_clean.isna().sum()
SP2024_Data_clean.isna().sum()

Div         0
Date        0
Time        0
HomeTeam    0
AwayTeam    0
           ..
MaxCAHA     0
AvgCAHH     0
AvgCAHA     0
BFECAHH     0
BFECAHA     0
Length: 96, dtype: int64

In [22]:
SP2023_Data_clean.duplicated().sum()
SP2024_Data_clean.duplicated().sum()
SP1_Data.duplicated().sum()

np.int64(0)

In [24]:
SP_Data = pd.concat([SP2023_Data_clean, SP2024_Data_clean], ignore_index=True)
SP_Data = SP_Data.sort_values('Date')
#SP_Data['Date'].dtype
#SP_Data.isna().sum()
betting_cols = ['WHH','WHD','WHA','VCH','VCD','VCA','PAHH','PAHA',
                'BWCH','BWCD','BWCA','VCCA','PC>2.5','WHCH','WHCD',
                'WHCA','VCCH','VCCD','PC<2.5','BFH','BFD','BFA','BFEH',
                'BFED','BFEA','BFEAHH','BFEAHA','BFCH','BFCD','BFCA',
                '1XBCH','1XBCD','1XBCA','BFECH','BFECD','BFECA',
                'BFEC>2.5','BFEC<2.5','BFECAHH','BFECAHA']
SP_Data_clean = SP_Data.drop(columns=betting_cols)
#SP_Data_clean.isna().sum()
#SP_Data_clean.duplicated().sum()
#SP_Data_clean['HomeTeam'].unique()
#SP_Data_clean['AwayTeam'].unique()
SP_Data_clean[['Date','HomeTeam','AwayTeam','FTHG','FTAG']].isna().sum()

TypeError: '<' not supported between instances of 'Timestamp' and 'str'

In [27]:
SP_Data_clean.to_csv('../data/processed/LaLiga_clean.csv', index=False)
SP1_Data.to_csv('../data/processed/LaLiga_clean_Test.csv', index=False)